.AuthContainer {
  text-align: center;
  background: url("../assets/background.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}
